<div class="item-sheet gear armor">
	<div class="identity">
		<div class="artwork">
			<img src="{{document.img}}" alt="{{document.name}}" data-action="editImage">
		</div>
		<div class="name"><input type="text" name="name" value="{{document.name}}" size=12 title="{{localize "tribe8.item.gear.name.hint"}}"></div>
	</div>
	<div class="properties">
		<div class="property ar">
			<div class="property-name">AR</div>
			<div class="property-input">
				<span class="input-sizer" data-value="{{document.system.ar}}">
					<input type="text" name="system.ar" value="{{document.system.ar}}" placeholder="0" size=2 title="{{localize "tribe8.item.armor.ar.hint"}}"/>
				</span>
			</div>
		</div>
		<div class="property enc">
			<div class="property-name">Enc</div>
			<div class="property-input">
				<span class="input-sizer" data-value="{{document.system.enc}}">
					<input type="text" name="system.enc" value="{{document.system.enc}}" placeholder="0" size=4 title="{{localize "tribe8.item.armor.enc.hint"}}"{{#if document.system.partial}} disabled{{/if}} />
				</span>
			</div>
		</div>
		<div class="property partial">
			<div class="property-name">Partial</div>
			<div class="property-input">
				<input type="checkbox" name="system.partial" value=true title="{{localize "tribe8.item.armor.partial.hint"}}"{{#if document.system.partial}} checked{{/if}} />
			</div>
		</div>
		<div class="property concealable">
			<div class="property-name">Concealable</div>
			<div class="property-input">
				<select name="system.conceal" title="{{localize "tribe8.item.armor.conceal.hint"}}">
					{{#each conceal as |name key|}}
					<option value="{{key}}"{{#if (eq @root.document.system.conceal key)}} selected{{/if}}>{{localize name}}</option>
					{{/each}}
				</select>
			</div>
		</div>
		<div class="property notes">
			<div class="property-name">Notes</div>
			<div class="property-input">
				<span class="input-sizer" data-value="{{document.system.notes}}">
					<input type="text" name="system.notes" value="{{document.system.notes}}" placeholder="None" size=4 title="{{localize "tribe8.item.armor.notes.hint"}}" />
				</span>
			</div>
		</div>
		<hr />
		{{!-- Coverage --}}
		<div class="property coverage">
			<div class="property-name">Coverage</div>
			{{#each document.system.coverage}}
			<div class="property-value" data-edit-id="{{@index}}">
				<span>{{localize (concat "tribe8.item.armor.coverage." this)}}</span>
				<button name="remove-coverage" data-action="removeCoverage" title="Remove Coverage" type="button"><i class="far fa-circle-xmark"></i></button>
			</div>
			{{/each}}
			<div class="add-coverage">
				<select name="coverage-select" title="{{localize "tribe8.item.armor.coverage.hint"}}">
					<option value=""></option>
					{{#each coverage}}
					<option value="{{this}}">{{localize (concat "tribe8.item.armor.coverage." this)}}</option>
					{{/each}}
				</select>
				<button name="add-coverage" data-action="addCoverage" type="button"><i class="fa fa-solid fa-plus"></i></button>
			</div>
		</div>
		<hr />
		{{!-- Common Item Properties --}}
		{{> "systems/tribe8/templates/sheets/items/partials/gearCommonProperties.hbs"}}
	</div>
	{{> "systems/tribe8/templates/sheets/items/partials/description.hbs"}}
	{{> "systems/tribe8/templates/sheets/items/partials/buttons.hbs"}}
</div>
