<div class="item-sheet aspect">
	<div class="identity">
		<div class="artwork">
			<img src="{{document.img}}" alt="{{document.name}}" data-action="editImage">
		</div>
		<div class="name"><input type="text" name="name" value="{{document.name}}" size=12 title="Name of the Eminence"></div>
		<div class="specific"><input type="text" name="system.tribe" value="{{document.system.tribe}}" size=12 title="Tribe with which the Eminence is associated"></div>
	</div>
	<div class="costs">
		<div class="cost-field cost-field-checkbox">
			<input type="radio" id="system.points.cp" name="system.points" value="CP"{{#if (eq document.system.points "CP")}} checked{{/if}}>
			<label for="system.points.cp">{{localize "tribe8.actor.character.points.cp.short"}}</label>
		</div>
		<div class="cost-field cost-field-checkbox">
			<input type="radio" id="system.points.xp" name="system.points" value="XP"{{#if (eq document.system.points "XP")}} checked{{/if}} />
			<label for="system.points.xp">{{localize "tribe8.actor.character.points.xp.short"}}</label>
		</div>
		<div class="granted cost-field cost-field-checkbox">
			<input type="checkbox" name="system.granted" value=true{{#if document.system.granted}} checked{{/if}} title="{{localize "tribe8.item.aspect.granted.hint"}}" />
			<label for="system.granted" title="Check if the Weaver granted this for free">F?</label>
		</div>
		<div class="granted cost-field cost-field-checkbox">
			<input type="checkbox" name="system.ritual" value=true{{#if document.system.ritual}} checked{{/if}} title="{{localize "tribe8.item.aspect.ritual.hint"}}" />
			<label for="system.ritual" title="Check if this is a Ritual Aspect instead of a Synthesis Aspect">{{localize "TYPES.Item.ritual"}}</label>
		</div>
	</div>
	<div class="properties">
		<div class="property">
			<div class="property-name">{{localize "tribe8.item.complexity.short"}}</div>
			<div class="property-input">
				<span class="input-sizer" data-value="{{document.system.complexity}}">
					<input type="number" name="system.complexity" value="{{ document.system.complexity }}" title="{{localize "tribe8.item.aspect.complexity.hint"}}" placeholder="2" min="2" max="10" />
				</span>
			</div>
		</div>
		<div class="property">
			<div class="property-name">{{localize "tribe8.actor.character.attributes.name.short"}}</div>
			<div class="property-input">
				<span class="input-sizer" data-value="{{document.system.attribute}}">
					<input type="text" name="system.attribute" value="{{ document.system.attribute }}" title="{{localize "tribe8.item.aspect.attribute.hint"}}" placeholder="{{localize "tribe8.actor.character.attributes.primary.cre.short"}}" size=3 />
				</span>
			</div>
		</div>
		<div class="property">
			<div class="property-name">{{localize "tribe8.item.aspect.threshold.short"}}</div>
			<div class="property-input">
				<span class="input-sizer" data-value="{{document.system.threshold}}">
					<input type="number" name="system.threshold" value="{{ document.system.threshold }}" title="{{localize "tribe8.item.aspect.threshold.hint"}}" placeholder="0" min="0" max="10" />
				</span>
			</div>
		</div>
		<div class="property">
			<div class="property-name">{{localize "tribe8.item.aspect.opposedBy.short"}}</div>
			<div class="property-input">
				<span class="input-sizer" data-value="{{document.system.opposedBy}}">
					<input type="text" name="system.opposedBy" value="{{ document.system.opposedBy }}" title="{{localize "tribe8.item.aspect.opposedBy.hint"}}" placeholder="WIL" size=2 />
				</span>
			</div>
		</div>
	</div>
	{{> "systems/tribe8/templates/sheets/items/partials/description.hbs"}}
	{{> "systems/tribe8/templates/sheets/items/partials/buttons.hbs"}}
</div>

