<div class="item-sheet maneuver">
	<div class="identity">
		<div class="artwork">
			<img src="{{document.img}}" alt="{{document.name}}" data-action="editImage">
		</div>
		<div class="name"><input type="text" name="name" value="{{document.name}}" size=12></div>
		{{#if (and document.isEmbedded (not document.system.free))}}
		<div class="specific">
			<select name="system.skill">
				{{#each skillChoices as |name key|}}
				<option value="{{key}}"{{#if (eq @root.document.system.skill key)}} selected{{/if}}>{{localize name}}</option>
				{{/each}}
			</select>
		</div>
		{{/if}}
	</div>
	{{!-- TODO: Eventually, the idea is for these to only be visible to the GM, who can pre-configure them before players add them to their sheets. --}}
	<div class="allowed">
		{{!-- NOTE: The *existing* value is passed in as allowedTypes[type], while the *submitted* value is passed back as system.allowedTypes[type} --}}
		<input type="checkbox" name="system.allowedTypes[C]"
		       value=true{{#if allowedTypes.C}} checked{{/if}}
		       title="{{localize "tribe8.item.maneuver.system.allowedTypes.cavalry"}}" />
		<label for="system.allowedTypes[C]"
		       title="{{localize "tribe8.item.maneuver.system.allowedTypes.cavalry"}}">C</label>
		<input type="checkbox" name="system.allowedTypes[D]"
		       value=true{{#if allowedTypes.D}} checked{{/if}}
		       title="{{localize "tribe8.item.maneuver.system.allowedTypes.defense"}}" />
		<label for="system.allowedTypes[D]"
		       title="{{localize "tribe8.item.maneuver.system.allowedTypes.defense"}}">D</label>
		<input type="checkbox" name="system.allowedTypes[H]"
		       value=true{{#if allowedTypes.H}} checked{{/if}}
		       title="{{localize "tribe8.item.maneuver.system.allowedTypes.handtohand"}}" />
		<label for="system.allowedTypes[H]"
		       title="{{localize "tribe8.item.maneuver.system.allowedTypes.handtohand"}}">H</label>
		<input type="checkbox" name="system.allowedTypes[M]"
		       value=true{{#if allowedTypes.M}} checked{{/if}}
		       title="{{localize "tribe8.item.maneuver.system.allowedTypes.melee"}}" />
		<label for="system.allowedTypes[M]"
		       title="{{localize "tribe8.item.maneuver.system.allowedTypes.melee"}}">M</label>
		<input type="checkbox" name="system.allowedTypes[R]"
		       value=true{{#if allowedTypes.R}} checked{{/if}}
		       title="{{localize "tribe8.item.maneuver.system.allowedTypes.ranged"}}" />
		<label for="system.allowedTypes[R]"
		       title="{{localize "tribe8.item.maneuver.allowedTypes.ranged"}}">R</label>
	</div>
	<div class="costs">
		<div class="cost-field cost-field-checkbox">
			<input type="radio" id="system.points.cp" name="system.points" value="CP"{{#if (eq document.system.points "CP")}} checked{{/if}}>
			<label for="system.points.cp">{{localize "tribe8.actor.character.points.cp.short"}}</label>
		</div>
		<div class="cost-field cost-field-checkbox">
			<input type="radio" id="system.points.xp" name="system.points" value="XP"{{#if (eq document.system.points "XP")}} checked{{/if}} />
			<label for="system.points.xp">{{localize "tribe8.actor.character.points.xp.short"}}</label>
		</div>
		<div class="fromCpx cost-field cost-field-checkbox">
			<input type="checkbox" name="system.fromCpx" value=true{{# if document.system.fromCpx}} checked{{/if}} title="{{localize "tribe8.item.maneuver.fromCpx.hint"}}" />
			<label for="system.fromCpx" title="{{localize "tribe8.item.maneuver.fromCpx.hint"}}">{{localize "tribe8.item.complexity.short"}}</label>
		</div>
		<div class="granted cost-field cost-field-checkbox">
			<input type="checkbox" name="system.granted" value=true{{#if document.system.granted}} checked{{/if}} title="{{localize "tribe8.item.maneuver.granted.hint"}}" />
			<label for="system.granted" title="{{localize "tribe8.item.maneuver.granted.hint"}}">G?</label>
		</div>
		<div class="free cost-field cost-field-checkbox">
			<input type="checkbox" name="system.free" value=true{{# if document.system.free}} checked{{/if}} title="{{localize "tribe8.item.maneuver.free.hint"}}" />
			<label for="system.free" title="{{localize "tribe8.item.maneuver.free.hint"}}">{{localize "tribe8.item.maneuver.free.short"}}</label>
		</div>
	</div>
	<div class="properties">
		<div class="property">
			<div class="property-name">{{localize "tribe8.item.complexity.short"}}</div>
			<div class="property-input">
				<span class="input-sizer" data-value="{{document.system.complexity}}">
					<input type="number" name="system.complexity" value="{{ document.system.complexity }}" title="{{localize "tribe8.item.maneuver.complexity.hint"}}" placeholder="0" min="0" max="10" />
				</span>
			</div>
		</div>
		<div class="property">
			<div class="property-name">{{localize "tribe8.item.weapon.accuracy.short"}}</div>
			<div class="property-input">
				<span class="input-sizer" data-value="{{document.system.accuracy}}">
					<input type="text" name="system.accuracy" value="{{document.system.accuracy}}" placeholder="N/A" size=2 />
				</span>
			</div>
		</div>
		<div class="property">
			<div class="property-name">{{localize "tribe8.actor.character.combat.initiative.short"}}</div>
			<div class="property-input">
				<span class="input-sizer" data-value="{{document.system.initiative}}">
					<input type="text" name="system.initiative" value="{{document.system.initiative}}" placeholder="N/A" size=2 />
				</span>
			</div>
		</div>
		<div class="property">
			<div class="property-name">{{localize "tribe8.actor.character.combat.defense.short"}}</div>
			<div class="property-input">
				<span class="input-sizer" data-value="{{document.system.defense}}">
					<input type="text" name="system.defense" value="{{document.system.defense}}" placeholder="N/A" size=2 />
				</span>
			</div>
		</div>
		<div class="property">
			<div class="property-name">{{localize "tribe8.item.weapon.parry.short"}}</div>
			<div class="property-input">
				<span class="input-sizer" data-value="{{document.system.parry}}">
					<input type="text" name="system.parry" value="{{document.system.parry}}" placeholder="N/A" size=2 />
				</span>
			</div>
		</div>
		<div class="property">
			<div class="property-name">{{localize "tribe8.item.weapon.damage.short"}}</div>
			<div class="property-input">
				<span class="input-sizer" data-value="{{document.system.damage}}">
					<input type="text" name="system.damage" value="{{document.system.damage}}" placeholder="N/A" size=4 />
				</span>
			</div>
		</div>
	</div>
	{{> "systems/tribe8/templates/sheets/items/partials/description.hbs"}}
	{{> "systems/tribe8/templates/sheets/items/partials/buttons.hbs"}}
</div>
