<div class="item-sheet gear weapon">
	<div class="identity">
		<div class="artwork">
			<img src="{{document.img}}" alt="{{document.name}}" data-action="editImage">
		</div>
		<div class="name"><input type="text" name="name" value="{{document.name}}" size=12 title="{{localize "tribe8.item.gear.name.hint"}}"></div>
		<div class="specific">
			<select name="system.category" title="{{localize "tribe8.item.weapon.category.hint"}}">
				{{#each weaponCategories as |name key|}}
				<option value="{{key}}"{{#if (eq @root.document.system.category key)}} selected{{/if}}>{{localize name}}</option>
				{{/each}}
			</select>
		</div>
		{{#if document.system.category}}
		<div class="specific">
			<select name="system.subcategory" title="{{localize "tribe8.item.weapon.subcategory.hint"}}">
				{{#each weaponSubcategories as |name key|}}
				<option value="{{key}}"{{#if (eq @root.document.system.subcategory key)}} selected{{/if}}>{{localize name}}</option>
				{{/each}}
			</select>
		</div>
		{{/if}}
	</div>
	<div class="properties">
		{{!-- Common Weapon Properties --}}
		<div class="property accuracy">
			<div class="property-name">{{localize "tribe8.item.weapon.accuracy.short"}}</div>
			<div class="property-input">
				{{!-- NOT document.system! --}}
				<span class="input-sizer" data-value="{{system.accuracy}}">
					<input type="text" name="system.accuracy" value="{{system.accuracy}}" placeholder="0" size=2 title="{{localize "tribe8.item.weapon.accuracy.hint"}}"/>
				</span>
			</div>
		</div>
		{{#if (lookup ranges "ranged")}}
		<div class="property fumble">
			<div class="property-name">{{localize "tribe8.item.weapon.fumble.short"}}</div>
			<div class="property-input">
				<select name="system.fumble" title="{{localize "tribe8.item.weapon.fumble.hint"}}">
					{{#each fumbleRisk as |name key|}}
					<option value="{{key}}"{{#if (eq @root.document.system.fumble key)}} selected{{/if}}>{{localize name}}</option>
					{{/each}}
				</select>
			</div>
		</div>
		{{else}}
		<div class="property parry">
			<div class="property-name">{{localize "tribe8.item.weapon.parry.short"}}</div>
			<div class="property-input">
				{{!-- NOT document.system! --}}
				<span class="input-sizer" data-value="{{system.parry}}">
					<input type="text" name="system.parry" value="{{system.parry}}" placeholder="0" size=2 title="{{localize "tribe8.item.weapon.parry.hint"}}"/>
				</span>
			</div>
		</div>
		{{/if}}
		<div class="property DM">
			<div class="property-name">{{localize "tribe8.item.weapon.damage.short"}}</div>
			<div class="property-input">
				{{!-- NOT document.system! --}}
				<span class="input-sizer" data-value="{{system.damage}}">
					<input type="text" name="system.damage" value="{{system.damage}}" placeholder="0" size=4 title="{{localize "tribe8.item.weapon.damage.hint"}}"/>
				</span>
			</div>
		</div>
		<div class="property traits">
			<div class="property-name">{{localize "tribe8.item.weapon.traits.short"}}</div>
			<div class="property-input">
				<span class="input-sizer" data-value="{{document.system.traits}}">
					<input type="text" name="system.traits" value="{{document.system.traits}}" placeholder="{{localize "tribe8.none"}}" size=4 title="{{localize "tribe8.item.weapon.traits.hint"}}" />
				</span>
			</div>
		</div>
		<hr />
		<div class="property range">
			<div class="property-name" title="{{localize "tribe8.item.weapon.ranges.hint"}}">{{localize "tribe8.item.weapon.ranges.short"}}</div>
			<div class="property-input">
				{{#each weaponRanges as |name value|}}
				<button name="system.ranges.{{value}}"{{#if (lookup ../ranges value)}} class="selected"{{/if}} data-action="toggleRange" title="{{localize (concat "tribe8.item.weapon.ranges." value ".full")}}" type="button">{{localize (concat "tribe8.item.weapon.ranges." value ".short")}}</button>
				{{/each}}
			</div>
		</div>
		{{# if (or (lookup ranges "throw") (lookup ranges "ranged"))}}
		<div class="property baseRange">
			<div class="property-name">{{localize "tribe8.item.weapon.baseRange.short"}}</div>
			<div class="property-input">
				<span class="input-sizer" data-value="{{document.system.baseRange}}">
					<input type="text" name="system.baseRange" value="{{document.system.baseRange}}" placeholder="N/A" size=4 title="{{localize "tribe8.item.weapon.baseRange.hint"}}" />
				</span>
			</div>
		</div>
		{{#if (lookup ranges "ranged")}}
		<div class="property rof">
			<div class="property-name">{{localize "tribe8.item.weapon.rof.short"}}</div>
			<div class="property-input">
				{{!-- NOT document.system! --}}
				<span class="input-sizer" data-value="{{system.rof}}">
					<input type="text" name="system.rof" value="{{system.rof}}" placeholder="N/A" size=4 title="{{localize "tribe8.item.weapon.rof.hint"}}" />
				</span>
			</div>
		</div>
		<div class="property ammo-curr">
			<div class="property-name">{{localize "tribe8.item.ammo.current.short"}}</div>
			<div class="property-input">
				<span class="input-sizer" data-value="{{document.system.ammo.current}}">
					<input type="text" name="system.ammo.current" value="{{document.system.ammo.current}}" placeholder="N/A" size=4 title="{{localize "tribe8.item.weapon.ammo.current.hint"}}" />
				</span>
			</div>
		</div>
		<div class="property ammo-cap">
			<div class="property-name">{{localize "tribe8.item.ammo.capacity.short"}}</div>
			<div class="property-input">
				<span class="input-sizer" data-value="{{document.system.ammo.capacity}}">
					<input type="text" name="system.ammo.capacity" value="{{document.system.ammo.capacity}}" placeholder="N/A" size=4 title="{{localize "tribe8.item.weapon.ammo.capacity.hint"}}" />
				</span>
			</div>
		</div>
		{{/if}}
		{{/if}}
		<hr />
		{{!-- Common Item Properties --}}
		{{> "systems/tribe8/templates/sheets/items/partials/gearCommonProperties.hbs"}}
	</div>
	{{> "systems/tribe8/templates/sheets/items/partials/description.hbs"}}
	{{> "systems/tribe8/templates/sheets/items/partials/buttons.hbs"}}
</div>
