<div class="gear-list armor-list">
	<h2><span>{{localize "TYPES.Item.armor-plural"}}</span><span>({{localize "tribe8.item.armor.enc.summary" enc=document.system.encumbrance}})</span><button name="add-armor" data-action="addNewItem" type="button"><i class="fa fa-solid fa-plus"></i></button></h2>
	<div class="gear-item-row gear-list-header">
		<div {{gearSortControls column="identity" section="armor" sorting=sorting}}>
			<div class="name">{{localize "tribe8.item.name"}}</div>
		</div>
		<div {{gearSortControls column="qty" section="armor" sorting=sorting}}>
			<span title="{{localize "tribe8.item.gear.qty.full"}}">{{localize "tribe8.item.gear.qty.short"}}</span>
		</div>
		<div {{gearSortControls column="ar" section="armor" sorting=sorting}}>
			<span title="{{localize "tribe8.item.armor.ar.full"}}"><i class="fa fa-solid fa-shield-halved"></i></span>
		</div>
		<div {{gearSortControls column="enc" section="armor" sorting=sorting}}>
			<span title="{{localize "tribe8.item.armor.enc.full"}}"><i class="fa fa-solid fa-scale-unbalanced-flip"></i></span>
		</div>
		<div {{gearSortControls column="equipped" section="armor" sorting=sorting}}>
			<span title="{{localize "tribe8.item.gear.equipped.full"}}"><i class="fa fa-solid fa-shirt"></i></span>
		</div>
	</div>
	{{#each armor.sortedIDs as |armorID|}}
	{{#with (lookup ../armor armorID)}}
	{{> "systems/tribe8/templates/sheets/actors/partials/armor.hbs"}}
	{{/with}}
	{{/each}}
	{{#if (not armor.sortedIDs.length)}}
	<em>{{localize "tribe8.none"}}</em>
	{{/if}}
</div>
