<div class="primary-attributes">
	<h3>{{localize "tribe8.actor.character.attributes.name.plural"}}</h3>
	<div class="attribute-set">
		{{#each document.system.attributes.primary as |data att|}}
		<div class="attribute-block{{#if (eq @root.combatData.useAttribute att)}} selected{{/if}}">
			<div class="name block-tab-label" title="{{localize (concat "tribe8.actor.character.attributes.primary." att ".full")}}" data-attribute="{{att}}" data-action="chooseAttribute">{{localize (concat "tribe8.actor.character.attributes.primary." att ".short")}}</div>
			<div class="value">{{data.value}}</div>
		</div>
		{{#if (eq @index 4)}}
		<hr />
		{{/if}}
		{{/each}}
	</div>
</div>
