<div class="character-basics">
	<div class="name field">
		<input type="text" name="name" value="{{document.name}}" title="{{localize "tribe8.actor.character.name.field"}}" placeholder="{{localize "tribe8.actor.character.name.field"}}" size=10 />
	</div>
	<!--
	<div class="tribe field">
		<input type="text" name="system.tribe" value="{{document.system.tribe}}" title="{{localize "tribe8.actor.character.tribe.hint"}}" placeholder="{{localize "tribe8.actor.character.tribe.field"}}" />
	</div>
	<div class="role field">
		<input type="text" name="system.role" value="{{document.system.role}}" title="{{localize "tribe8.actor.character.role.hint"}}" placeholder="{{localize "tribe8.actor.character.role.field"}}" />
	</div>
	-->
	<div class="player field">{{#if playerName}}{{playerName}}{{else}}NPC{{/if}}</div>
</div>
