<div class="combat-pane combat-skills">
	<h2><span>{{localize "tribe8.actor.character.combat.skills"}}</span></h2>
	{{#if skills}}
	<ul>
	{{#each skills.sortedIDs as |skillId|}}
	{{#with (lookup ../skills skillId)}}
	{{~#if (lookup @root.COMBAT_SKILLS system.combatCategory)~}}
	<li data-item-id="{{id}}">
		<input type="radio" name="combatData.useCombatSkill" value="{{id}}" data-action="combatCalculator"{{#if (eq @root.combatData.useCombatSkill id)}} checked{{/if}} />
		<div class="identity" data-action="editItem">
			<div class="name">{{name}}</div>
			<div class="specific">{{system.level}}c{{system.cpx}}</div>
		</div>
	</li>
	{{/if}}
	{{/with}}
	{{/each}}
	<li data-item-id="{{id}}">
		<input type="radio" name="combatData.useCombatSkill" value="" data-action="combatCalculator"{{#if (not @root.combatData.useCombatSkill)}} checked{{/if}} />
		<div class="identity" data-action="editItem">
			<div class="name">{{localize "tribe8.none"}}</div>
		</div>
	</li>
	</ul>
	{{else}}
	<em>{{localize "tribe8.none"}}</em>
	{{/if}}
	{{#if combatData.useCombatSkill}}
		{{#with (lookup skills combatData.useCombatSkill)}}
			{{#if this.system.specializations}}
			<h3>{{localize "TYPES.Item.specialization-plural"}}</h3>
			<ul>
				{{#each this.system.specializations}}
				{{#with (lookup @root.specializations this)}}
				<li data-item-id="{{../../this.id}}">
					<input type="radio" name="combatData.useSpecialization" value="{{id}}" data-action="combatCalculator"{{#if (eq @root.combatData.useSpecialization id)}} checked{{/if}} />
					<div class="identity" data-action="editSkill">
						<div class="name">{{name}}</div>
					</div>
				</li>
				{{/with}}
				{{/each}}
				<li>
					<input type="radio" name="combatData.useSpecialization" value="" data-action="combatCalculator"{{#if (not @root.combatData.useSpecialization)}} checked{{/if}} />
					<div class="identity">
						<div class="name">{{localize "tribe8.none"}}</div>
					</div>
				</li>
			</ul>
			{{/if}}
		{{/with}}
	{{/if}}
</div>
