<div class="gear-list">
	<h2><span>{{localize "TYPES.Item.gear-plural"}}</span><button name="add-gear" data-action="addNewItem" type="button"><i class="fa fa-solid fa-plus"></i></button></h2>
	<div class="gear-item-row gear-list-header">
		<div {{gearSortControls column="identity" section="gear" sorting=sorting}}>
			<div class="name">{{localize "tribe8.item.name"}}</div>
		</div>
		<div {{gearSortControls column="qty" section="gear" sorting=sorting}}>
			<span title="{{localize "tribe8.item.gear.qty.full"}}">{{localize "tribe8.item.gear.qty.short"}}</span>
		</div>
		<div {{gearSortControls column="weight" section="gear" sorting=sorting}}>
			<span title="{{localize "tribe8.item.gear.weight.full"}}"><i class="fa fa-solid fa-weight-hanging"></i></span>
		</div>
		<div {{gearSortControls column="total-weight" section="gear" sorting=sorting}}>
			<span title="{{localize "tribe8.item.gear.totalWeight.full"}}">&Sigma;<i class="fa fa-solid fa-weight-hanging"></i></span>
		</div>
		<div {{gearSortControls column="value" section="gear" sorting=sorting}}>
			<span title="{{localize "tribe8.item.gear.value.full"}}">{{localize "tribe8.item.gear.value.short"}}</span>
		</div>
		<div {{gearSortControls column="complexity" section="gear" sorting=sorting}}>
			<span title="{{localize "tribe8.item.complexity.full"}}">{{localize "tribe8.item.complexity.short"}}</span>
		</div>
		<div {{gearSortControls column="carried" section="gear" sorting=sorting}}>
			<span title="{{localize "tribe8.item.gear.carried.full"}}"><i class="fa fa-solid fa-suitcase"></i></span>
		</div>
		<div {{gearSortControls column="equipped" section="gear" sorting=sorting}}>
			<span title="{{localize "tribe8.item.gear.equipped.full"}}"><i class="fa fa-solid fa-hand"></i></span>
		</div>
	</div>
	{{#each gear.sortedIDs as |gearID|}}
	{{#with (lookup ../gear gearID)}}
		{{#if system.isContainer}}
	<details class="collapsible-gear-container" open>
		<summary class="container">
		{{/if}}
			{{> "systems/tribe8/templates/sheets/actors/partials/gear.hbs"}}
		{{#if system.isContainer}}
		</summary>
		<blockquote class="contained">
		{{else}}
			{{!-- See if there's a next item in the list --}}
			{{#if (lookup ../../gear.sortedIDs (add @index 1))}}
				{{!-- There is a next item --}}
				{{#with (lookup ../../gear (lookup ../../gear.sortedIDs (add @index 1))) as | nextGear |}}
				{{#if (ne nextGear.system.storage ../system.storage)}}
					{{!-- Next item has different storage, may need to do something --}}
					{{#if (lt nextGear.depth ../depth)}}
						{{!-- Next item has less depth close blockquotes and details to difference --}}
						{{#repeat (sub ../depth nextGear.depth)}}
		</blockquote>
	</details>
						{{/repeat}}
					{{else}}
						{{!-- Next item has greater depth, so we just let the loop do its thing --}}
					{{/if}}
				{{else}}
					{{!-- Next item has the same storage, so we let the loop do its thing --}}
				{{/if}}
				{{/with}}
			{{else}}
				{{!-- There is no next item, so close blockquote and details to current depth --}}
				{{#repeat depth}}
		</blockquote>
	</details>
				{{/repeat}}
			{{/if}}
		{{/if}}
	{{/with}}
	{{/each}}
	{{#if (not gear.sortedIDs.length)}}
	<em>{{localize "tribe8.none"}}</em>
	{{/if}}
</div>
