<div class="injuries">
	<h3 title="{{localize "tribe8.actor.character.injuries.penalty.full"}}"><span>{{localize "tribe8.actor.character.injuries.header"}}</span><span>{{document.system.actionPenalty}}</span></h3>
	<div class="secondary-attributes attribute-set">
		{{#each document.system.attributes.secondary.physical.thresholds}}
		<div class="injury-block">
			<div class="injury-name header block-tab-label severity-{{@key}}" title="{{this.name}}">{{this.label}}</div>
			{{#if (hasKey @root.document.system.wounds @key)}}
			<div class="injury-value severity-{{@key}}">
				<input type="number" name="system.wounds.{{@key}}" value="{{lookup @root.document.system.wounds @key}}" min=0 max=99 title="Current number of {{#with (lookup @root.document.system.attributes.secondary.physical.thresholds @key)}}{{this.name}}s{{/with}}" />
			</div>
			{{else}}
			<div class="injury-value severity-instant{{#if (gte
			document.system.attributes.secondary.physical.shock.current
			document.system.attributes.secondary.physical.shock.value)
			}} trauma{{/if}}" title="Trauma state"><i class="fa fa-solid fa-skull"></i></div>
			{{/if}}
		</div>
		{{/each}}
	</div>
</div>
