<div class="magic">
	<h2>{{localize "tribe8.actor.character.magic.header"}}</h2>
	{{#if magic.hasDreamerPerk}}
	<h3{{#if (and magic.hasAwakenedDreamerPerk magic.synthesisSkill)}} class="has-skill" data-action="editItem" data-item-id="{{magic.synthesisSkill.id}}"{{/if}}><span>Synthesis</span>
		{{~#if (and magic.hasAwakenedDreamerPerk magic.synthesisSkill)~}}
		<span>{{magic.synthesisSkill.system.level}}c{{magic.synthesisSkill.system.cpx}}</span>
		{{~/if~}}
	</h3>
	<dl>
		<dt><span>{{localize "TYPES.Item.eminence-plural"}}</span><button name="add-eminence" data-action="addNewItem" type="button"><i class="fa fa-solid fa-plus"></i></button></dt>
		<dd>
			{{#if magic.eminences}}
				{{#each magic.eminences.sortedIDs as |eminenceId|}}
					{{#with (lookup ../magic.eminences eminenceId)}}
			<div class="eminence{{#if this.system.used}} used{{/if}} draggable" data-item-id="{{this.id}}">
				<div class="identity" data-action="editItem">
					<div class="name">{{this.name}}</div>
					<div class="specific">({{this.system.tribe}})</div>
				</div>
				<div class="used dot-checkbox">
					<input type="checkbox" name="useEminence[{{this.id}}]" data-action="useEminence" data-item-id="{{this.id}}" title="{{localize "tribe8.item.eminence.used.hint"}}"{{#if this.system.used}} checked{{/if}}>
				</div>
			</div>
					{{/with}}
				{{/each}}
			{{else}}
			<em>{{localize "tribe8.none"}}</em>
			{{/if}}
		</dd>
		{{#if magic.synthesisSkill}}
		{{> "systems/tribe8/templates/sheets/actors/partials/magic_aspects.hbs" aspects=magic.synthesisAspects skill="synthesis"}}
		{{/if}}
	</dl>
	{{/if}}
	{{#if magic.ritualSkill}}
	<h3{{#if magic.ritualSkill}} class="has-skill" data-action="editItem" data-item-id="{{magic.ritualSkill.id}}"{{/if}}><span>{{localize "tribe8.item.skill.names.ritual"}}</span>
		{{~#if magic.ritualSkill~}}
		<span>{{magic.ritualSkill.system.level}}c{{magic.ritualSkill.system.cpx}}</span>
		{{~/if~}}
	</h3>
	<dl>
		<dt><span>{{localize "TYPES.Item.totem-plural"}}</span><button name="add-totem" data-action="addNewItem" type="button"><i class="fa fa-solid fa-plus"></i></button></dt>
		<dd>
			{{#if magic.totems}}
				{{#each magic.totems.sortedIDs as |totemId|}}
					{{#with (lookup ../magic.totems totemId)}}
			<div class="totem{{#if (and (not this.usesPoints) (or this.inFreeSlot this.system.fromCpx))}} from-cpx{{/if}}{{#if this.system.granted}} granted{{/if}} draggable" data-item-id="{{this.id}}">
				<div class="identity" data-action="editItem">
					<div class="name">{{this.name}}</div>
					<div class="specific">({{this.system.totemType}})</div>
				</div>
				<div class="cost">
						{{~#if this.system.granted~}}
							W
						{{~else~}}
							{{~#if (and (not this.usesPoints) (or this.inFreeSlot this.system.fromCpx))~}}
								Cpx{{#if (and this.inFreeSlot (not this.system.fromCpx))}}*{{/if}}
							{{~else~}}
								{{this.cost}} {{this.system.points}}{{#if (and this.system.fromCpx this.usesPoints)}}*{{/if}}
							{{~/if~}}
						{{~/if~}}
				</div>
			</div>
					{{/with}}
				{{/each}}
			{{else}}
			<em>{{localize "tribe8.none"}}</em>
			{{/if}}
		</dd>
		{{> "systems/tribe8/templates/sheets/actors/partials/magic_aspects.hbs" aspects=magic.ritualAspects skill="ritual"}}
	</dl>
	{{/if}}
</div>
