<div class="maneuvers">
	<h2><span>{{localize "TYPES.Item.maneuver-plural"}}</span><button name="add-maneuver" data-action="addNewItem" type="button"><i class="fa fa-solid fa-plus"></i></button></h2>
	{{#if sortedManeuvers}}
	<div class="maneuver">
		<div class="identity points-type">{{localize "tribe8.item.maneuver.table-header"}}</div>
		<div class="complexity points-type">{{localize "tribe8.item.complexity.short"}}</div>
		<div class="cost points-type">{{localize "tribe8.item.cost.short"}}</div>
		<div></div>
	</div>
	{{else}}
	<em>{{localize "tribe8.none"}}</em>
	{{/if}}
	{{#each sortedManeuvers.sortedIDs as |maneuverId|}}
	{{#with (lookup ../sortedManeuvers maneuverId)}}
	<div class="maneuver{{#if (and (not this.usesPoints) this.system.fromCpx)}} from-cpx{{/if}}{{#if this.system.granted}} granted{{/if}} draggable" data-item-id="{{this.id}}">
		<div class="identity" data-action="editItem">
			<div class="name">{{this.name}}</div>
			<div class="specific">(
				{{~#if this.system.free~}}
					{{~localize "tribe8.item.maneuver.complexity.free" types=this.system.allowedTypes~}}
				{{~else~}}
					{{~#with (lookup ../../skills this.system.skill)~}}
						{{~#if name~}}
							{{~name~}}
						{{~else~}}
							{{~localize "tribe8.errors.maneuver-missing-skill"~}}
						{{~/if~}}
					{{~/with~}}
				{{~/if~}}
			)</div>
		</div>
		<div class="complexity">{{#if this.system.free}}1*{{else}}{{this.system.complexity}}{{/if}}</div>
		<div class="cost">
			{{#if (and (not this.usesPoints) this.system.fromCpx)}}
			C
			{{else}}
				{{#if this.system.granted}}
				W
				{{else}}
					{{#if this.system.free}}
					F
					{{else}}
					{{this.system.complexity}} {{this.system.points}}{{#if (and this.system.fromCpx this.usesPoints)}}*{{/if}}
					{{/if}}
				{{/if}}
			{{/if}}
		</div>
	</div>
	{{/with}}
	{{/each}}
	{{> "systems/tribe8/templates/sheets/actors/partials/toggle.hbs" toggleRight=sorting.sort-maneuvers action="sort-maneuvers" leftName="Name" rightName="Cpx"}}
</div>
