<div class="perks-flaws">
	<h2><span>{{localize "tribe8.item.pf.title"}}</span><button name="add-pf" data-action="addNewItem" type="button"><i class="fa fa-solid fa-plus"></i></button></h2>
	{{#if perksAndFlaws~}}
	<h3>{{localize "TYPES.Item.perk-plural"}}</h3>
	{{~else~}}
	<em>None</em>
	{{~/if}}
	{{~#each perksAndFlaws.sortedIDs as |pfId|~}}
		{{~#with (lookup @root.perksAndFlaws pfId)~}}
		{{~#with (lookup @root.perksAndFlaws (lookup @root.perksAndFlaws.sortedIDs (sub @index 1))) as | prevItem |~}}
			{{~#if (and (eq ../this.type 'flaw') (eq prevItem.type 'perk'))}}
	<h3>{{localize "TYPES.Item.flaw-plural"}}</h3>
			{{~/if~}}
		{{~/with}}
	<div class="pf {{this.type}}{{#if this.system.granted}} granted{{/if}} draggable" data-item-id="{{this.id}}">
		<div class="identity" data-action="editItem">
			<div class="name">{{#if (eq this.type 'perk')}}+{{else}}-{{/if}} {{this.system.name}}{{#if this.system.ranked}} {{roman this.system.points.length}}{{/if}}</div>
			{{#if this.system.specify}}
			<div class="specific">({{this.system.specific}})</div>
			{{/if}}
		</div>
	</div>
		{{/with}}
	{{/each}}
</div>
