<div class="points-summary">
	<!--<h2>{{localize "tribe8.actor.character.points.header"}}</h2>-->
	<dl class="points-list">
		<dt class="term points-type xp">{{localize "tribe8.actor.character.points.xp.short"}}</dt>
		<dd class="detail points-value xp">
			<ul class="points-list">
				<li class="detail general-points points-value{{#if (gt document.system.points.xp.spent document.system.points.xp.total)}} over{{/if}}">
					<span class="points-spent">{{document.system.points.xp.spent}}</span> / <span class="points-total"><input type="number" name="system.points.xp.total" value="{{document.system.points.xp.total}}" title="{{localize "tribe8.actor.character.points.xp.total.hint"}}" /></span>
				</li>
			</ul>
		</dd>
		<dt class="term points-type cp">{{localize "tribe8.actor.character.points.cp.short"}}</dt>
		<dd class="detail points-value cp">
			<ul class="points-list">
				<li class="detail attribute-points point-value{{#if (gt document.system.cpSpentAttributes document.system.points.cp.attributes)}} over{{/if}}" title="{{localize "tribe8.actor.character.points.cp.attributes.hint"}}">
					<span class="points-spent">{{document.system.cpSpentAttributes}}</span> / <span class="points-total">{{document.system.points.cp.attributes}}</span>
				</li>
				<li class="detail general-points point-value{{#if (gt document.system.cpSpentGeneral document.system.points.cp.general)}} over{{/if}}" title="{{localize "tribe8.actor.character.points.cp.general.hint"}}">
					<span class="points-spent">{{document.system.cpSpentGeneral}}</span> / <span class="points-total">{{document.system.points.cp.general}}</span>
				</li>
			</ul>
		</dd>
	</dl>
</div>
