<div class="character-sheet tab equipment {{tab.cssClass}}" data-group="character" data-tab="equipment">
	<div class="gear-list weapons-list">
		<h2><span>{{localize "TYPES.Item.weapon-plural"}}</span><button name="add-weapon" data-action="addNewItem" type="button"><i class="fa fa-solid fa-plus"></i></button></h2>
		<div class="gear-item-row gear-list-header">
			<div {{gearSortControls column="identity" section="weapons" sorting=sorting}}>
				<div class="name">{{localize "tribe8.item.name"}}</div>
			</div>
			<div {{gearSortControls column="qty" section="weapons" sorting=sorting}}>
				<span title="{{localize "tribe8.item.gear.qty.full"}}">{{localize "tribe8.item.gear.qty.short"}}</span>
			</div>
			<div {{gearSortControls column="weight" section="weapons" sorting=sorting}}>
				<span title="{{localize "tribe8.item.gear.weight.full"}}"><i class="fa fa-solid fa-weight-hanging"></i></span>
			</div>
			<div {{gearSortControls column="total-weight" section="weapons" sorting=sorting}}>
				<span title="{{localize "tribe8.item.gear.totalWeight.full"}}">&Sigma;<i class="fa fa-solid fa-weight-hanging"></i></span>
			</div>
			<div {{gearSortControls column="value" section="weapons" sorting=sorting}}>
				<span title="{{localize "tribe8.item.gear.value.full"}}">{{localize "tribe8.item.gear.value.short"}}</span>
			</div>
			<div {{gearSortControls column="complexity" section="weapons" sorting=sorting}}>
				<span title="{{localize "tribe8.item.gear.complexity.full"}}">{{localize "tribe8.item.gear.complexity.short"}}</span>
			</div>
			<div {{gearSortControls column="carried" section="weapons" sorting=sorting}}>
				<span title="{{localize "tribe8.item.gear.carried.full"}}"><i class="fa fa-solid fa-suitcase"></i></span>
			</div>
			<div {{gearSortControls column="equipped" section="weapons" sorting=sorting}}>
				<span title="{{localize "tribe8.item.gear.equipped.full"}}"><i class="fa fa-solid fa-hand"></i></span>
			</div>
		</div>
		{{#each weapons.sortedIDs as |weaponID|}}
		{{#with (lookup ../weapons weaponID)}}
		{{> "systems/tribe8/templates/sheets/actors/partials/weapon.hbs"}}
		{{/with}}
		{{/each}}
		{{#if (not weapons.sortedIDs.length)}}
		<em>{{localize "tribe8.none"}}</em>
		{{/if}}
	</div>
	<div class="gear-list armor-list">
		<h2><span>{{localize "TYPES.Item.armor-plural"}}</span><span>({{localize "tribe8.item.armor.enc.summary" enc=document.system.encumbrance}})</span><button name="add-armor" data-action="addNewItem" type="button"><i class="fa fa-solid fa-plus"></i></button></h2>
		<div class="gear-item-row gear-list-header">
			<div {{gearSortControls column="identity" section="armor" sorting=sorting}}>
				<div class="name">{{localize "tribe8.item.name"}}</div>
			</div>
			<div {{gearSortControls column="qty" section="armor" sorting=sorting}}>
				<span title="{{localize "tribe8.item.gear.qty.full"}}">{{localize "tribe8.item.gear.qty.short"}}</span>
			</div>
			<div {{gearSortControls column="ar" section="armor" sorting=sorting}}>
				<span title="{{localize "tribe8.item.armor.ar.full"}}"><i class="fa fa-solid fa-shield-halved"></i></span>
			</div>
			<div {{gearSortControls column="enc" section="armor" sorting=sorting}}>
				<span title="{{localize "tribe8.item.armor.enc.full"}}"><i class="fa fa-solid fa-scale-unbalanced-flip"></i></span>
			</div>
			<div {{gearSortControls column="equipped" section="armor" sorting=sorting}}>
				<span title="{{localize "tribe8.item.gear.equipped.full"}}"><i class="fa fa-solid fa-shirt"></i></span>
			</div>
		</div>
		{{#each armor.sortedIDs as |armorID|}}
		{{#with (lookup ../armor armorID)}}
		{{> "systems/tribe8/templates/sheets/actors/partials/armor.hbs"}}
		{{/with}}
		{{/each}}
		{{#if (not armor.sortedIDs.length)}}
		<em>{{localize "tribe8.none"}}</em>
		{{/if}}
	</div>
	<div class="gear-list">
		<h2><span>{{localize "TYPES.Item.gear-plural"}}</span><button name="add-gear" data-action="addNewItem" type="button"><i class="fa fa-solid fa-plus"></i></button></h2>
		<div class="gear-item-row gear-list-header">
			<div {{gearSortControls column="identity" section="gear" sorting=sorting}}>
				<div class="name">{{localize "tribe8.item.name"}}</div>
			</div>
			<div {{gearSortControls column="qty" section="gear" sorting=sorting}}>
				<span title="{{localize "tribe8.item.gear.qty.full"}}">{{localize "tribe8.item.gear.qty.short"}}</span>
			</div>
			<div {{gearSortControls column="weight" section="gear" sorting=sorting}}>
				<span title="{{localize "tribe8.item.gear.weight.full"}}"><i class="fa fa-solid fa-weight-hanging"></i></span>
			</div>
			<div {{gearSortControls column="total-weight" section="gear" sorting=sorting}}>
				<span title="{{localize "tribe8.item.gear.totalWeight.full"}}">&Sigma;<i class="fa fa-solid fa-weight-hanging"></i></span>
			</div>
			<div {{gearSortControls column="value" section="gear" sorting=sorting}}>
				<span title="{{localize "tribe8.item.gear.value.full"}}">{{localize "tribe8.item.gear.value.short"}}</span>
			</div>
			<div {{gearSortControls column="complexity" section="gear" sorting=sorting}}>
				<span title="{{localize "tribe8.item.gear.complexity.full"}}">{{localize "tribe8.item.gear.complexity.short"}}</span>
			</div>
			<div {{gearSortControls column="carried" section="gear" sorting=sorting}}>
				<span title="{{localize "tribe8.item.gear.carried.full"}}"><i class="fa fa-solid fa-suitcase"></i></span>
			</div>
			<div {{gearSortControls column="equipped" section="gear" sorting=sorting}}>
				<span title="{{localize "tribe8.item.gear.equipped.full"}}"><i class="fa fa-solid fa-hand"></i></span>
			</div>
		</div>
		{{#each gear.sortedIDs as |gearID|}}
		{{#with (lookup ../gear gearID)}}
			{{#if system.isContainer}}
		<details class="collapsible-gear-container" open>
			<summary class="container">
			{{/if}}
				{{> "systems/tribe8/templates/sheets/actors/partials/gear.hbs"}}
			{{#if system.isContainer}}
			</summary>
			<blockquote class="contained">
			{{else}}
				{{!-- See if there's a next item in the list --}}
				{{#if (lookup ../../gear.sortedIDs (add @index 1))}}
					{{!-- There is a next item --}}
					{{#with (lookup ../../gear (lookup ../../gear.sortedIDs (add @index 1))) as | nextGear |}}
					{{#if (ne nextGear.system.storage ../system.storage)}}
						{{!-- Next item has different storage, may need to do something --}}
						{{#if (lt nextGear.depth ../depth)}}
							{{!-- Next item has less depth close blockquotes and details to difference --}}
							{{#repeat (sub ../depth nextGear.depth)}}
			</blockquote>
		</details>
							{{/repeat}}
						{{else}}
							{{!-- Next item has greater depth, so we just let the loop do its thing --}}
						{{/if}}
					{{else}}
						{{!-- Next item has the same storage, so we let the loop do its thing --}}
					{{/if}}
					{{/with}}
				{{else}}
					{{!-- There is no next item, so close blockquote and details to current depth --}}
					{{#repeat depth}}
			</blockquote>
		</details>
					{{/repeat}}
				{{/if}}
			{{/if}}
		{{/with}}
		{{/each}}
		{{#if (not gear.sortedIDs.length)}}
		<em>{{localize "tribe8.none"}}</em>
		{{/if}}
	</div>
	<div class="load-slider">
		<div class="unladen">
			<div class="unladen-used"></div>
			<div class="load-value unladen-threshold"></div>
		</div>
		<div class="laden">
			<div class="laden-used"></div>
			<div class="load-value laden-threshold"></div>
		</div>
		<div class="burdened">
			<div class="burdened-used"></div>
			<div class="load-value burdened-threshold"></div>
		</div>
		<div class="overload">
			<div class="overload-used"></div>
			<div class="load-value overload-threshold"></div>
		</div>
		<div class="load-value current-load">{{localize "tribe8.item.gear.weight.amount" amount=document.system.carriedWeight}}</div>
	</div>
</div>
