<div class="character-sheet tab combat {{tab.cssClass}}" data-group="character" data-tab="combat">
	<div class="combat-pane attack-summary">
		<h2><span>{{localize "tribe8.actor.character.combat.summary"}}</span></h2>
		<div class="properties">
			<div class="property initiative">
				<div class="property-name">{{localize "tribe8.actor.character.combat.initiative.short"}}</div>
				<div class="property-value">{{combatData.summary.initiative}}</div>
			</div>
			<div class="property accuracy">
				<div class="property-name">{{localize "tribe8.item.weapon.accuracy.short"}}</div>
				<div class="property-value">{{combatData.summary.accuracy}}</div>
			</div>
			<div class="property damage">
				<div class="property-name">{{localize "tribe8.item.weapon.damage.short"}}</div>
				<div class="property-value">{{combatData.summary.damage}}</div>
			</div>
			{{#ifIn (lookup (lookup (lookup weapons combatData.useWeapon) "system") "ranges") "ranged"}}
			<div class="property fumble">
				<div class="property-name">{{localize "tribe8.item.weapon.fumble.short"}}</div>
				<div class="property-value">{{localize (concat "tribe8.item.weapon.fumble." combatData.summary.fumble)}}</div>
			</div>
			{{else}}
			<div class="property parry">
				<div class="property-name">{{localize "tribe8.item.weapon.parry.short"}}</div>
				<div class="property-value">{{combatData.summary.parry}}</div>
			</div>
			{{/ifIn}}
			<div class="property defense">
				<div class="property-name">{{localize "tribe8.actor.character.combat.defense.short"}}</div>
				<div class="property-value">{{combatData.summary.defense}}</div>
			</div>
			<div class="property traits">
				<div class="property-name">{{localize "tribe8.item.weapon.traits.short"}}</div>
				<div class="property-value">{{combatData.summary.traits}}</div>
			</div>
		</div>
	</div>
	<div class="combat-pane combat-skills">
		<h2><span>{{localize "tribe8.actor.character.combat.skills"}}</span></h2>
		{{#if skills}}
		<ul>
		{{#each skills.sortedIDs as |skillId|}}
		{{#with (lookup ../skills skillId)}}
		{{~#if (lookup @root.COMBAT_SKILLS system.combatCategory)~}}
		<li data-item-id="{{id}}">
			<input type="radio" name="combatData.useCombatSkill" value="{{id}}" data-action="combatCalculator"{{#if (eq @root.combatData.useCombatSkill id)}} checked{{/if}} />
			<div class="identity" data-action="editItem">
				<div class="name">{{name}}</div>
				<div class="specific">{{system.level}}c{{system.cpx}}</div>
			</div>
		</li>
		{{/if}}
		{{/with}}
		{{/each}}
		</ul>
		{{else}}
		<em>{{localize "tribe8.none"}}</em>
		{{/if}}
		{{#if combatData.useCombatSkill}}
			{{#with (lookup skills combatData.useCombatSkill)}}
				{{#if this.system.specializations}}
				<h3>{{localize "TYPES.Item.specialization-plural"}}</h3>
				<ul>
					{{#each this.system.specializations}}
					{{#with (lookup @root.specializations this)}}
					<li data-item-id="{{../../this.id}}">
						<input type="radio" name="combatData.useSpecialization" value="{{id}}" data-action="combatCalculator"{{#if (eq @root.combatData.useSpecialization id)}} checked{{/if}} />
						<div class="identity" data-action="editSkill">
							<div class="name">{{name}}</div>
						</div>
					</li>
					{{/with}}
					{{/each}}
					<li>
						<input type="radio" name="combatData.useSpecialization" value="" data-action="combatCalculator"{{#if (not @root.combatData.useSpecialization)}} checked{{/if}} />
						<div class="identity">
							<div class="name">None</div>
						</div>
					</li>
				</ul>
				{{/if}}
			{{/with}}
		{{/if}}
	</div>
	<div class="combat-pane weapons">
		<h2><span>{{localize "TYPES.Item.weapon-plural"}}</span><button name="add-weapon" data-action="addNewItem" type="button"><i class="fa fa-solid fa-plus"></i></button></h2>
		{{#if weapons}}
		<ul>
		{{#each weapons.sortedIDs as |weaponId|}}
		{{#with (lookup ../weapons weaponId)}}
		{{#if system.equipped}}
		<li data-item-id="{{id}}">
			<input type="radio" name="combatData.useWeapon" value="{{id}}" data-action="combatCalculator"{{#if (eq @root.combatData.useWeapon id)}} checked{{/if}} />
			<div class="identity" data-action="editItem">
				<div class="name">{{name}}</div>
				<div class="specific">({{localize "tribe8.item.complexity.summary" cpx=system.complexity}})</div>
			</div>
		</li>
		{{/if}}
		{{/with}}
		{{/each}}
		</ul>
		{{else}}
		<em>None</em>
		{{/if}}
	</div>
	<div class="combat-pane maneuvers">
		<h2><span>{{localize "TYPES.Item.maneuver-plural"}}</span><button name="add-maneuver" data-action="addNewItem" type="button"><i class="fa fa-solid fa-plus"></i></button></h2>
		{{#if sortedManeuvers}}
		<ul>
		{{#each sortedManeuvers.sortedIDs as |maneuverId|}}
		{{#with (lookup ../sortedManeuvers maneuverId)}}
		{{setVar "maneuverEligible" (or
			(eq @root.combatData.useCombatSkill system.skill)
			(and
				system.free
				(ifIn system.allowedTypes (lookup (lookup (lookup ../../skills @root.combatData.useCombatSkill) "system") "combatCategory"))
			)
		)}}
		<li data-item-id="{{id}}"{{#if (not @root.maneuverEligible)}} class="disabled"{{/if}}>
			<input type="checkbox" value="{{id}}"
				name="combatData.useManeuver[{{id}}]"
				data-action="combatCalculator"
				{{#if (not @root.maneuverEligible)}}
				disabled
				{{else}}
				{{#if (lookup @root.combatData.useManeuver id)}} checked{{/if}}
				{{/if}}
			/>
			<div class="identity" data-action="editItem">
				<div class="name">{{name}}</div>
				<div class="specific">(
					{{~#if system.free~}}
					{{localize "tribe8.item.maneuver.complexity.free" types=system.allowedTypes}}
					{{~else~}}
						{{~#with (lookup ../../skills this.system.skill)~}}
							{{~#if name~}}
								{{~name~}}
							{{~else~}}
								{{~localize "tribe8.errors.maneuver-missing-skill"~}}
							{{~/if~}}
						{{~/with~}}
					{{~/if~}}
				)</div>
			</div>
		</li>
		{{/with}}
		{{/each}}
		</ul>
		{{else}}
		<em>None</em>
		{{/if}}
	</div>
	<div class="combat-pane attributes primary-attributes">
		<h2><span>{{localize "tribe8.actor.character.attributes.name.plural"}}</span></h2>
		{{#each document.system.attributes.primary as |data att|}}
		<div class="attribute-block{{#if (eq @root.combatData.useAttribute att)}} selected{{/if}}" data-attribute="{{att}}" data-action="chooseAttribute">
			<div class="name" title="{{localize (concat "tribe8.actor.character.attributes.primary." att ".full")}}">{{localize (concat "tribe8.actor.character.attributes.primary." att ".short")}}</div>
			<div class="value">{{data.value}}</div>
		</div>
		{{#if (eq @index 4)}}
		<hr />
		{{/if}}
		{{/each}}
	</div>
	<div class="combat-pane situational">
		<h2><span>{{localize "tribe8.actor.character.combat.modifiers"}}</span></h2>
		<div class="properties">
			<div class="property initiative">
				<div class="property-name">{{localize "tribe8.actor.character.combat.initiative.short"}}</div>
				<div class="property-value">
					<span class="input-sizer" data-value="">
						<input type="text" name="combatData.modifier.initiative" value="{{#if combatData.modifier.initiative}}{{combatData.modifier.initiative}}{{/if}}" placeholder="0" size=4  />
					</span>
				</div>
			</div>
			<div class="property accuracy">
				<div class="property-name">{{localize "tribe8.item.weapon.accuracy.short"}}</div>
				<div class="property-value">
					<span class="input-sizer" data-value="">
						<input type="text" name="combatData.modifier.accuracy" value="{{#if combatData.modifier.accuracy}}{{combatData.modifier.accuracy}}{{/if}}" placeholder="0" size=4  />
					</span>
				</div>
			</div>
			<div class="property range">
				<div class="property-name">{{localize "tribe8.item.weapon.ranges.short"}}</div>
				<div class="property-value">
					<select name="combatData.modifier.range">
						{{#with (lookup weapons combatData.useWeapon) as |weapon|}}
							{{#with (lookup (lookup weapon "system") "ranges") as |ranges|}}
								{{#ifIn ranges "close"}}
									<option value="close">{{localize "tribe8.item.weapon.ranges.close.full"}}</option>
								{{/ifIn}}
								{{#if (or (ifIn ranges "ranged") (ifIn ranges "throw"))}}
									{{#each @root.rangeBands}}
										<option value="{{this}}"{{#if (or (eq @root.combatData.modifier.range this) (and (not @root.combatData.modifier.range) (eq this "short")))}} selected{{/if}}>{{localize (concat "tribe8.item.weapon.rangeBands." this "-with-distance") distance=(mult @root.combatData.weaponBaseRange @index)}}</option>
									{{/each}}
								{{/if}}
							{{/with}}
						{{/with}}
					</select>
				</div>
			</div>
			<div class="property damage">
				<div class="property-name">{{localize "tribe8.item.weapon.damage.short"}}</div>
				<div class="property-value">
					<span class="input-sizer" data-value="">
						<input type="text" name="combatData.modifier.damage" value="{{#if combatData.modifier.damage}}{{combatData.modifier.damage}}{{/if}}" placeholder="0" size=4  />
					</span>
				</div>
			</div>
			{{#ifIn (lookup (lookup (lookup weapons combatData.useWeapon) "system") "ranges") "ranged"}}
			<div class="property fumble">
				<div class="property-name">{{localize "tribe8.item.weapon.fumble.short"}}</div>
				<div class="property-value">
					<select name="combatData.modifier.fumble">
						<option value=""></option>
						{{#each @root.fumble}}
						<option value="{{this}}"{{#if (eq @root.combatData.modifier.fumble this)}} selected{{/if}}>{{localize (concat "tribe8.item.weapon.fumble." this)}}</option>
						{{/each}}
					</select>
				</select>
				</div>
			</div>
			{{else}}
			<div class="property parry">
				<div class="property-name">{{localize "tribe8.item.weapon.parry.short"}}</div>
				<div class="property-value">
					<span class="input-sizer" data-value="">
						<input type="text" name="combatData.modifier.parry" value="{{#if combatData.modifier.parry}}{{combatData.modifier.parry}}{{/if}}" placeholder="0" size=4  />
					</span>
				</div>
			</div>
			{{/ifIn}}
			<div class="property defense">
				<div class="property-name">{{localize "tribe8.actor.character.combat.defense.short"}}</div>
				<div class="property-value">
					<span class="input-sizer" data-value="">
						<input type="text" name="combatData.modifier.defense" value="{{#if combatData.modifier.defense}}{{combatData.modifier.defense}}{{/if}}" placeholder="0" size=4 />
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="combat-pane armor">
		<h2>
			<span>{{localize "TYPES.Item.armor-plural"}}</span>
			<span>({{localize "tribe8.item.armor.enc.summary" enc=document.system.encumbrance}})</span>
			<button name="add-armor" data-action="addNewItem" type="button"><i class="fa fa-solid fa-plus"></i></button>
			<span>/ Thresholds</span>
		</h2>
		<ul>
			<li class="header">
				<div class="identity">
					<div class="name">{{localize "tribe8.actor.character.combat.armor.header.name"}}</div>
				</div>
				<div class="ar">{{localize "tribe8.item.armor.ar.short"}}</div>
				<div class="threshold-fw">{{localize "tribe8.actor.character.attributes.secondary.physical.thresholds.flesh.short"}}</div>
				<div class="threshold-dw">{{localize "tribe8.actor.character.attributes.secondary.physical.thresholds.deep.short"}}</div>
				<div class="threshold-id">{{localize "tribe8.actor.character.attributes.secondary.physical.thresholds.death.short"}}</div>
				<div class="enc">{{localize "tribe8.item.armor.enc.short"}}</div>
			</li>
		{{#each armor.sortedIDs as |armorId|}}
		{{#with (lookup ../armor armorId)}}
		{{#if system.equipped}}
			<li data-item-id="{{id}}">
				<div class="identity" data-action="editItem">
					<div class="name">{{name}}</div>
					<div class="specific">({{#if system.coverage}}{{system.coverage}}{{else}}<em>coverage missing</em>{{/if}})</div>
				</div>
				<div class="ar">{{#if system.ar}}{{system.ar}}{{else}}0{{/if}}</div>
				<div class="threshold-fw">{{add @root.document.system.attributes.secondary.physical.thresholds.flesh.value system.ar}}</div>
				<div class="threshold-dw">{{add @root.document.system.attributes.secondary.physical.thresholds.deep.value system.ar}}</div>
				<div class="threshold-id">{{add @root.document.system.attributes.secondary.physical.thresholds.death.value system.ar}}</div>
				<div class="enc">{{#if system.partial}}*{{else}}{{system.enc}}{{/if}}</div>
			</li>
		{{/if}}
		{{/with}}
		{{/each}}
			<li>
				<div class="identity">
					<div class="name">{{localize "tribe8.item.armor.unarmored"}}</div>
				</div>
				<div class="ar">&mdash;</div>
				<div class="threshold-fw">{{@root.document.system.attributes.secondary.physical.thresholds.flesh.value}}</div>
				<div class="threshold-dw">{{@root.document.system.attributes.secondary.physical.thresholds.deep.value}}</div>
				<div class="threshold-id">{{@root.document.system.attributes.secondary.physical.thresholds.death.value}}</div>
				<div class="enc">&mdash;</div>
			</li>
		</ul>
	</div>
	<div class="combat-pane injuries">
		<h2><span>{{localize "tribe8.actor.character.injuries.header"}}</span>{{#if document.system.actionPenalty}}<span title="{{localize "tribe8.actor.character.injuries.penalty.full"}}">{{document.system.actionPenalty}}</span>{{/if}}</h2>
		<div class="wounds-pane">
			<h3>{{localize "tribe8.actor.character.wounds.header"}}</h3>
			{{#each document.system.wounds}}
			<div class="injury-block injury-values">
				<div class="header">{{lookup (lookup @root.document.system.attributes.secondary.physical.thresholds @key) "name"}}</div>
				<div class="injury-value severity-{{@key}}">
					<input type="number" name="{{@root.tab.id}}.system.wounds.{{@key}}" value="{{this}}" min=0 max=99 title="Current number of {{#with (lookup @root.document.system.attributes.secondary.physical.thresholds @key)}}{{this.name}}s{{/with}}" />
				</div>
			</div>
			{{/each}}
		</div>
		<div class="shock-pane">
			<h3><span>{{localize "tribe8.actor.character.attributes.secondary.physical.shock.full"}}</span></h3>
			<div class="shock">
			{{#with document.system.attributes.secondary.physical.shock as | shock |}}
			{{#repeat shock.value false}}
				<div class="shock-state">
					{{~#if (gt this (sub shock.value @root.document.system.shock))~}}
					<i class="fa fa-solid fa-skull wounded"></i>
					{{~else~}}
					<i class="fa fa-solid fa-heart healthy"></i>
					{{~/if~}}
				</div>
			{{/repeat}}
			{{/with}}
			</div>
		</div>
	</div>
</div>
