<form>
	<div class="form-group formula">
		<label>{{localize "tribe8.initiative.base.label"}}</label>
		<input type="text" name="formula" value="{{formula}}" disabled>
	</div>
	<div class="form-group bonus">
		<input type="text" name="bonus" value="" placeholder="{{localize "tribe8.initiative.bonus.placeholder"}}" />
	</div>
	<div class="roll-configuration">
		<label>{{localize "tribe8.initiative.config.label"}}</label>
		<div class="form-group manual">
			<label for="manual">{{localize "tribe8.initiative.manual.label"}}</label>
			<input type="number" name="manual" placeholder="{{localize "tribe8.initiative.manual.placeholder"}}" title="{{localize "tribe8.initiative.manual.hint"}}">
		</div>
		<div class="form-group mode">
			<label for="rollMode">{{localize "tribe8.initiative.mode.label"}}</label>
			<select name="rollMode">
				{{#each rollModes}}
				<option value="{{@key}}"{{#if (eq @key currentRollMode)}} selected{{/if}}>{{localize this.label}}</option>
				{{/each}}
			</select>
		</div>
	</div>
</form>
