	<div class="description">
		<h3>{{localize "tribe8.item.description.header"}}</h3>
		{{#if editable}}
		<prose-mirror name="system.description" value="{{ document.system.description }}" document-uuid="{{ document.uuid }}" compact toggled=true>{{{ enrichedDescription }}}</prose-mirror>
		{{else}}
		<div class="editor editor-content">{{{ enrichedDescription }}}</div>
		{{/if}}
	</div>
