<div class="property qty">
	<div class="property-name"><label for="system.qty" title="{{localize "tribe8.item.gear.qty.hint"}}">{{localize "tribe8.item.gear.qty.short"}}</label></div>
	<div class="property-input">
		<span class="input-sizer" data-value="{{document.system.qty}}">
			<input type="number" name="system.qty" value="{{ document.system.qty }}" title="{{localize "tribe8.item.gear.qty.hint"}}" placeholder="1" min="0" max="99" />{{!-- Note that these limits aren't enforced by the form, they're just for sizing --}}
		</span>
	</div>
</div>
<div class="property weight">
	<div class="property-name"><label for="system.weight" title="{{localize "tribe8.item.gear.weight.hint"}}">{{localize "tribe8.item.gear.weight.short"}}</label></div>
	<div class="property-input">
		<span class="input-sizer" data-value="{{document.system.weight}}">
			<input type="number" name="system.weight" value="{{ document.system.weight }}" title="{{localize "tribe8.item.gear.weight.hint"}}" placeholder="0" min="0" max="99" />{{!-- Note that these limits aren't enforced by the form, they're just for sizing --}}
		</span>
	</div>
</div>
<div class="property value">
	<div class="property-name"><label for="system.value" title="{{localize "tribe8.item.gear.value.hint"}}">{{localize "tribe8.item.gear.value.short"}}</label></div>
	<div class="property-input">
		<select name="system.value" title="{{localize "tribe8.item.gear.value.hint"}}">
			{{#each valueOptions as |name value|}}
			<option value="{{value}}"{{#if (eq ../document.system.value value)}} selected{{/if}}>{{localize name}}</option>
			{{/each}}
		</select>
	</div>
</div>
<div class="property valueThreshold">
	<div class="property-name"><label for="system.valueThreshold" title="{{localize "tribe8.item.gear.valueThreshold.hint"}}">{{localize "tribe8.item.gear.valueThreshold.short"}}</label></div>
	<div class="property-input">
		<span class="input-sizer" data-value="{{document.system.valueThreshold}}">
			<input type="number" name="system.valueThreshold" value="{{ document.system.valueThreshold }}" title="{{localize "tribe8.item.gear.valueThreshold.hint"}}" placeholder="5" min="0" max="10" />{{!-- Note that these limits aren't enforced by the form, they're just for sizing --}}
		</span>
	</div>
</div>
<div class="property complexity">
	<div class="property-name"><label for="system.complexity" title="{{localize "tribe8.item.gear.complexity.hint"}}">{{localize "tribe8.item.gear.complexity.short"}}</label></div>
	<div class="property-input">
		<span class="input-sizer" data-value="{{document.system.complexity}}">
			<input type="number" name="system.complexity" value="{{ document.system.complexity }}" title="{{localize "tribe8.item.gear.complexity.hint"}}" placeholder="1" min="1" max="5" />{{!-- Note that these limits aren't enforced by the form, they're just for sizing --}}
		</span>
	</div>
</div>
<div class="storage-and-carrying">
	<div class="property storage">
		<div class="property-name"><label for="system.storage" title="{{localize "tribe8.item.gear.storage.short"}}"><i class="fa fa-solid fa-box-archive"></i></label></div>
		<div class="property-input">
			<select name="system.storage" title="{{localize "tribe8.item.gear.storage.hint"}}">
				<option value=""></option>
				{{#each otherGear}}
				<option value="{{this.id}}"{{#if (eq this.id ../document.system.storage)}} selected{{/if}}>
					{{~#repeat (sub this.depth 1)}}&nbsp;&nbsp;&nbsp;&nbsp;{{/repeat~}}
					{{~this.name}}{{#if this.system.isContainer}}*{{/if~}}
				</option>
				{{/each}}
			</select>
		</div>
	</div>
	{{#if document.isEmbedded}}
	<div class="carried">
		<input type="checkbox" name="system.carried" title="{{localize "tribe8.item.gear.carried.hint"}}" value="true"{{#if document.system.carried}} checked{{/if}} />
		<label for="system.carried" title="{{localize "tribe8.item.gear.carried.hint"}}"><i class="fa fa-solid fa-suitcase"></i></label>
	</div>
	<div class="equipped">
		<input type="checkbox" name="system.equipped" title="{{localize "tribe8.item.gear.equipped.hint"}}" value="true"{{#if document.system.equipped}} checked{{/if}} />
		<label for="system.equipped" title="{{localize "tribe8.item.gear.equipped.hint"}}"><i class="fa fa-solid fa-hand"></i></label>
	</div>
	{{/if}}
</div>

